<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Registro de empleado</h3>
    <form (ngSubmit)= "onSubmit()">
      <div class="form-group">
        <label>Codigo Activo : </label>
        <input type = "number">
      </div>
  
      <div class="form-group">
        <label>Descripcion : </label>
        <input type = "text">
      </div>

       <div class="form-group">
        <label>Estado : </label>
        <input type = "text">
      </div>

      <div class="form-group">
        <label>Referencia : </label>
        <input type = "text">
      </div>

      <div class="form-group">
        <label>Marca : </label>
        <input type = "number">
      </div>
  
      <button class="btn btn-success">Guardar</button>
    </form>
  </div>